@charset "utf-8";

html, body, p {
    margin: 0px;
    padding: 0px;
}

html, body {
    /*background-color: black;*/
    box-sizing: border-box;
    height: 100%;
}

#codetrace, #status {
    /*background: #eeeeee;*/
    font-family: "PT Sans";
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#status {
    overflow: auto;
}

/*.container > div:nth-child(1n) {*/
    /*background-color: #96ceb4;*/
/*}*/

/*.container > div:nth-child(3n) {*/
    /*background-color: #88d8b0;*/
/*}*/

/*.container > div:nth-child(2n) {*/
    /*background-color: #ff6f69;*/
/*}*/

/*.container > div:nth-child(4n) {*/
    /*background-color: white;*/
/*}*/

.container > div {
    /*background-color: white;*/
    /*color: black;*/
    align-items: center;
    padding: 0px 10px;
}

a, i {
    cursor: pointer;
}

#title {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.material-icons {
    color: black;
}

#log {
    height: 200px;
    max-height: inherit;
    width: inherit;
    /*border:1px solid #ccc;*/
    overflow: auto;
    /*white-space: nowrap;*/
}