@charset "utf-8";

html, body, p {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#codetrace, #status {
    font-family: "PT Sans";
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#status {
    -overflow: auto;
}

.container > div {
    /*background-color: white;*/
    /*color: black;*/
    align-items: center;
    padding: 0px 10px;
}

a, i {
    cursor: pointer;
}

#title {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.material-icons {
    color: black;
}

#log {
    height: 200px;
    max-height: inherit;
    width: inherit;
    /*border:1px solid #ccc;*/
    overflow: auto;
    /*white-space: nowrap;*/
}

.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
}

.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
    position: relative;
    overflow: hidden;
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}

.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}

.card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}

.card .card-content p {
    margin: 0;
    color: inherit;
}

.card .card-content span.card-title {
    line-height: 48px;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
}

.card .card-action a {
    color: #ffab40;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
}

.menu {
    background-color: #42A5F5;
}

.menu a {
    color: white;
}

.menu div:last-child div {
    float: right;
    margin: 0 25px 0 25px;
}

.logo a {
    text-decoration: none;
}

#search-form {
    text-align: center;
}

.list-structures a {
    text-decoration: none;
<<<<<<< HEAD
}

#actions {
    color: black;
    /*position: fixed;*/
    /*top: 570px;*/
    /*left: 5px;*/
}

/*.execAction {*/
/*padding: 5px 8px;*/
/*height: auto;*/
/*}*/

/*.err {*/
/*padding: 5px 0px;*/
/*}*/

/*.execActionA {*/
/*width: 50px;*/
/*}*/

/*#actions-extras {*/
/*bottom: 30px;*/
/*}*/

#actions-extras input {
    width: 35px;
    padding: 5px 8px 7px;
}

.create {
    top: 570px;
}

.search {
    top: 600px;
}

.insert {
    top: 625px;
}

.remove {
    top: 655px;
}

#createfixedsize-input input, #createuserdefined-input input {
    float: left;
}

#createfixedsize-go p, #createuserdefined-go p {
    float: right;
}

#createuserdefined-input input {
    width: 80px;
}

#inserthead-input input, #inserttail-input input, #insertkth-input input {
    float: left;
}

#insertkth-input input {
    margin-right: 3px;
}

#inserthead-go p, #inserttail-go p, #insertkth-go p {
    float: right;
}

#removekth-input input {
    float: left;
}

#removekth-go p {
    float: right;
}

.inputline {
    display: inline;
}

. inputinline {
    display: inline;
}

.gridMenu a {
    cursor: pointer;
}

.gridTimeline {
    cursor: pointer;
}

=======
}
>>>>>>> 8e7b0c6286e852743306af6c5de79f1f1d47316d
