.draw {
    bottom: 173px;
}

#draw-status p {
    color: black;
}

#draw-warn p {
    color: #FFA824;
}

#draw-err p {
    color: red;
}

#drawgraph {
    height: 530px;
    width: 700px;
    margin: 0 auto;
    margin-left: -350px;
    margin-top: -215px;
}

#drawgraph #main {
    padding: 5px 15px;
}

#drawgraph-actions {
    padding-left: 50px;
    bottom: 200px;
    left: 200px;
    float: left;
}

#drawgraph-actions p {
    padding: 10px;
    cursor: pointer;
    float: left;
}

#drawgraph-actions #drawgraph-form {
    padding: 10px;
    cursor: pointer;
    float: left;
}

#drawgraph-actions p:hover {
    background: black;
    color: white;
}

#drawgraph-actions p:first-of-type {
    padding-top: 10px;
}

#drawgraph-actions p:last-of-type {
    padding-bottom: 10px;
}

#drawgraph-actions-hide {
    bottom: 60px;
    left: 0px;
    padding-left: 14px;
    padding-right: 15px;
}

<<<<<<< HEAD
#graph-all svg {
=======
svg {
>>>>>>> 8e7b0c6286e852743306af6c5de79f1f1d47316d
    background-color: #FFF;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

<<<<<<< HEAD
#graph-all svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}

#graph-all path.link {
=======
svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}

path.link {
>>>>>>> 8e7b0c6286e852743306af6c5de79f1f1d47316d
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;
}

<<<<<<< HEAD
#graph-all svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
}

#graph-all path.link.selected {
    stroke-dasharray: 10,2;
}

#graph-all path.link.dragline {
    pointer-events: none;
}

#graph-all path.link.hidden {
    stroke-width: 0;
}

#graph-all circle.node {
=======
svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
}

path.link.selected {
    stroke-dasharray: 10,2;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

circle.node {
>>>>>>> 8e7b0c6286e852743306af6c5de79f1f1d47316d
    stroke-width: 1.5px;
    cursor: pointer;
}

<<<<<<< HEAD
#graph-all circle.node.reflexive {
=======
circle.node.reflexive {
>>>>>>> 8e7b0c6286e852743306af6c5de79f1f1d47316d
    stroke: #000 !important;
    stroke-width: 2.5px;
}

<<<<<<< HEAD
#graph-all text {
=======
text {
>>>>>>> 8e7b0c6286e852743306af6c5de79f1f1d47316d
    font: 12px sans-serif;
    pointer-events: none;
}

<<<<<<< HEAD
#graph-all text.id {
=======
text.id {
>>>>>>> 8e7b0c6286e852743306af6c5de79f1f1d47316d
    text-anchor: middle;
    font-weight: bold;
}