.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 40px auto auto 24px auto 40px;
    grid-template-areas:
            "h h h h h h h h h h h h h h h h"
            "m m g g g g g g g g g g n n n n"
            "m m g g g g g g g g g g n n n n"
            "m m t t t t t t t t t t p p p p"
            "m m l l l l l a a a a a p p p p"
            "f f f f f f f f f f f f f f f f";
}

@media only screen and (max-width: 1200px) {
    .container {
        height: 100%;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 40px auto auto 20px auto 40px;
        grid-template-areas:
                "h h h h h h h h h h h h"
                "m g g g g g g g g n n n"
                "m g g g g g g g g n n n"
                "m t t t t t t t t p p p"
                "m a a a a a a a a p p p"
                "f f f f f f f f f f f f";
    }
}

@media only screen and (max-width: 786px) {
    .container {
        height: 100%;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 40px 40px auto 40px;
        grid-template-areas:
                "h h h h h h h h h h h h"
                "m m m m m m m m m m m m"
                "g g g g g g g g g g g g"
                "f f f f f f f f f f f f";
    }
}

.gridHeader {
    grid-area: h;
}

.gridMenu {
    grid-area: m;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(12, 1fr);
    padding-top: 10px;
}

.menu1 {
    grid-row: 1;
}

.menu2 {
    grid-row: 2;
}

.menu3 {
    grid-row: 3;
}

.menu4 {
    grid-row: 4;
}

.menu5 {
    grid-row: 5;
}

.menu6 {
    grid-row: 6;
}

.menu7 {
    grid-row: 7;
}

.gridGraph {
    grid-area: g;
}

.gridNote {
    grid-area: n;
}

.gridTimeline {
    grid-area: t;
}

.gridAction {
    grid-area: a;
}

.gridPseudo {
    grid-area: p;
}

.gridFooter {
    grid-area: f;
}

.gridLog {
    grid-area: l;
}