* {box-sizing: border-box;}
.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-areas:
            "h h"
            ". g"
            ". t"
            ". n"
            ". p"
            ". l"
            ". a"
            "f f";
}

div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

@media only screen and (min-width: 1200px) {
    .container {
        height: 100%;
        display: grid;
        grid-gap: 3px;
        grid-template-areas:
                "h h h h h h h h h h h h"
                ". g g g g g g g g n n n"
                ". t t t t t t t a a a a"
                ". c c c l l l l p p p p"
                "f f f f f f f f f f f f";
    }
    div ul {
        flex-direction: column;
    }
}

@media only screen and (min-width: 786px) {
    .container {
        height: 100%;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
                "h h h h h h h h h h h h"
                ". g g g g g g g g n n n"
                ". t t t t t t t a a a a"
                ". c c c l l l l p p p p"
                "f f f f f f f f f f f f";
    }
    div ul {
        /*display: flex;*/
        justify-content: space-between;
    }
}

.gridHeader {
    grid-area: h;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: #212121;
    height: 50px;
    border: 1px solid black;
}

.gridMenu {
    grid-area: m;
    /*display: grid;*/
    /*grid-gap: 10px;*/
    /*grid-template-rows: repeat(12, 1fr);*/
    /*padding-top: 10px;*/
    /*list-style: none;*/
}

.gridGraph {
    grid-area: g;
    max-height: 500px;
}

.gridNote {
    grid-area: n;
    border: 1px solid black;
}

.gridTimeline {
    grid-area: t;
    border: 1px solid black;
}

.gridAction {
    grid-area: a;
    border: 1px solid black;
}

.gridPseudo {
    grid-area: p;
    border: 1px solid black;
}

.gridFooter {
    grid-area: f;
    left: 0;
    bottom: 0;
    width: 100%;
}

.gridLog {
    grid-area: l;
    border: 1px solid black;
    overflow: scroll;
}

.gridControl{
    grid-area: c;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}