.left-nav {
    font-family: "Lato", sans-serif;
    background-color: #111 !important;
    color: #818181 !important;
    padding: 0 !important;
}

.left-nav a {
    font-size: 1vw;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}

.left-nav a:hover {
    color: #818181 !important;
    background-color: #424242 !important;
}

.left-nav .selected {
    color: white !important;
    font-weight: bold !important;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li {
    position: relative;
    display: block;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none !important;
    background-color: #eee;
}